<div class="publications">
{% for project in site.data.opensource %}
  <div class="publication-item">
    <p class="publication-title">{{ project.title }}</p>
    {% if project.description %}
      <p class="publication-description">{{ project.description | markdownify }}</p>
    {% endif %}
    {% if project.links %}
      <div class="publication-links">
        {% for link in project.links %}
          <a class="publication-link" href="{{ link.url }}">{{ link.label }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endfor %}
</div>
